<div class="page page--rating">
    <progress-bar text="Загрузка списка пользователей ..." ng-if="$ctrl.loadProgress"></progress-bar>
    <div class="container" ng-if="!$ctrl.loadProgress">
        <div class="panel panel-default">
            <table class="table table-striped">
                <thead>
                    <th>
                        Место в рейтинге
                    </th>
                    <th>Имя</th>
                    <th>Список объектов</th>
                </thead>
                <tbody>
                    <tr ng-repeat="item in $ctrl.list">
                        <td>{{ $index + 1 }}</td>
                        <td>{{ item.userName }}</td>
                        <td>
                            <ul class="objects__list">
                                <li class="list__item" ng-repeat="object in item.objects | orderBy: 'count'">
                                    <a ui-sref="object.card({ id: object.$id })">{{ object.name }}</a>
                                    <span class="label label-default">
                                        {{ object.count }} {{ $ctrl._getValueText(object.count) }} х 
                                        {{ object.inaccessibility }} {{ $ctrl._getPointsText(object.inaccessibility) }}
                                    </span>
                                </li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
