.objectList__item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    margin-bottom: 12px;
    padding: 12px;
    border: 1px solid #dddddd;
    height: 240px;
    width: 100%;

    &:hover {
        background-color: #f2f4f8;
    }

    .icon--object {
        color: #dddddd ;
    }

    .icon--star {
        font-size: 16px;
        color: #4cb10f;
        vertical-align: middle;
    }

    .item__image,
    .item__content {
        
    }

    .item__content {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .item__image {
        width: 200px;
        text-align: center;
        margin-right: 12px;
    }

    .content__mainRow {
        display: flex;
        height: 80px;

        .title {
            margin: 0;
        }
    }

    .mainRow__main {
        width: 100%;
    }

    .mainRow__review {
        .review__content {
            position: absolute;
            right: 28px;
        }

        .review__rating {
            text-align: right;
            font-size: large;
            font-weight: bold;
            color: #1078e0;
        }

        .review__inaccessibility {
            text-align: right;
            font-size: large;
            color: #6989a9;
        }

        .review__visitors {
            text-align: right;
            font-size: small;
            color: #888888;
        }
    }

    .content__description {
        height: 100px;
        overflow: auto;
    }

    .content__description--empty {
        height: 96px;
        text-align: center;
        line-height: 96px;
        border: 1px dashed #ddd;
        color: #aaa;
    }

    .content__button {
        height: 40px;
        line-height: 40px;
        text-align: right;
    }
}
