<div class="objectList__item">
    <div class="item__image">
        <i class="fa fa-12x fa-tree icon--object" aria-hidden="true"></i>
    </div>
    <div class="item__content">
        <div class="content__mainRow">
            <div class="mainRow__main">
                <h3 class="title">
                    <a ui-sref="object.card({ id: $ctrl.object.$id })">{{ $ctrl.object.name }}</a>
                    <i class="fa fa-star icon--star" aria-hidden="true"></i>
                    <i class="fa fa-star icon--star" aria-hidden="true"></i>
                    <i class="fa fa-star icon--star" aria-hidden="true"></i>
                </h3>
            </div>
            <div class="mainRow__review">
                <div class="review__content">
                    <div class="review__rating">Хорошее место 7,7</div>
                    <div class="review__inaccessibility">Труднодоступность {{ $ctrl.object.inaccessibility }}</div>
                    <div class="review__visitors">{{ $ctrl.object.visitors }} {{ $ctrl._getVisitorsText() }}</div>
                </div>
            </div>
        </div>
        <div class="content__description">
            {{ $ctrl.object.description }}
            <div class="content__description--empty" ng-if="!$ctrl.object.description">Нет описания</div>
        </div>
        <div class="content__button">
            <a class="btn btn-xs btn-primary" ui-sref="object.card({ id: $ctrl.object.$id })" role="button">Посетить</a>
        </div>
    </div>
</div>
