<div class="page page--objectCheck">
    <progress-bar text="Загрузка объекта..." ng-if="$ctrl.loadProgress"></progress-bar>
    <div class="container" ng-hide="$ctrl.loadProgress">
        <div class="row">
            <div class="col-md-12">
                <div class="well well--form">
                    <form name="confirm" class="form-horizontal" ng-submit="$ctrl.submit()">
                        <fieldset>
                            <legend>Подтверждение посещения объекта</legend>

                            <div class="form-group">
                                <label for="file" class="col-md-2 control-label">Фотография</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="file" readonly ng-value="$ctrl.file.name">
                                        <span class="input-group-btn">
                                            <upload-file-button upload-file="$ctrl.file"></upload-file-button>
                                        </span>
                                        <span class="input-group-btn">
                                            <button class="btn btn-danger" type="button" 
                                                ng-click="$ctrl.removeFile()" ng-disabled="!$ctrl.file.name">
                                                <i class="fa fa-times" aria-hidden="true"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group" ng-if="$ctrl.object.visitors < 3">
                                <label for="inaccessibility" class="col-md-2 control-label">Оценка труднодоступности</label>
                                <div class="col-md-4">
                                    <select class="form-control" name="inaccessibility" ng-model="$ctrl.object.inaccessibility" ng-disabled="$ctrl.disabledForm">
                                        <option value="{{ n }}" ng-repeat="n in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]">{{ n }}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-8 col-md-offset-2">
                                    <button type="submit" class="btn btn-primary" ng-disabled="object.$invalid || $ctrl.disabledForm">
                                        <i class="fa fa-lg fa-spinner fa-spin" ng-if="$ctrl.saveProgress"></i> Продолжить
                                    </button>
                                    <button type="button" class="btn btn-default" ng-click="$ctrl.onClickCancelButton()" ng-disabled="$ctrl.disabledForm">Отмена</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
