<div class="page page--about">
     <div class="container">
         <div class="row">
            <div class="col-md-8">
                <h4>Урочище - это электронный каталог выделяющихся природных мест Пензенской области.</h4>
                <p>
                    Сделано на <a href="http://penza.hackday.ru/">HackDay #43.Penza</a> за 48 часов
                </p>
                <p>
                    Разработчики: <a href="https://github.com/vikshv">Швецов Виктор</a> и <a href="https://github.com/sun-wind">Гражданова Ольга</a>
                </p>
                <p>
                    <a href="https://github.com/urochishche/urochishche">GitHub</a>
                </p>
            </div>
         </div>
    </div>
</div>
