.page.page--objectList {
    margin-top: 66px;
}

.panel--card {
    .object__description--empty {
        color: #aaaaaa;
    }

    .object__info {
        display: inline-block;
        font-size: small;
        padding: 4px;
    }
}
