<div class="page page--objectList">
    <progress-bar text="Загрузка списка объектов ..." ng-if="$ctrl.loadProgress"></progress-bar>
    <div class="container" ng-if="!$ctrl.loadProgress">
        <div class="row">
            <div class="col-md-2">
                Фильтр
            </div>
            <div class="col-md-10">
                <div ng-repeat="item in $ctrl.list">
                    <div class="panel panel-default panel--card">
                        <div class="panel-heading">
                            <a ui-sref="object.card({ id: item.$id })">{{ item.name }}</a>
                        </div>
                        <div class="panel-body">
                            {{ item.description }}
                            <div class="object__description--empty" ng-if="!item.description">
                                Описание не задано
                            </div>
                        </div>
                        <div class="panel-footer">
                            <div class="object__info">
                                посещений <span class="badge">{{ item.visitors }}</span>
                            </div>
                            <div class="object__info">
                                труднодоступность <span class="badge">{{ item.inaccessibility }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
