<div class="page page--objectList">
    <progress-bar text="Загрузка списка объектов ..." ng-if="$ctrl.loadProgress"></progress-bar>
    <div class="container" ng-if="!$ctrl.loadProgress">
        <div class="row">
            <div class="col-md-2">
                <div>
                    Сложность 
                </div>
                <div>
                    <select class="form-control" 
                            ng-model="$ctrl.filter.inaccessibility" >
                        <option value="null" >-все-</option>
                        <option value="{{ n }}" 
                                ng-repeat="n in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]">{{ n}}</option>
                    </select>
                </div>

                <div style="margin-top: 20px;">
                    Посещений 
                </div>
                <div>
                    <select class="form-control" 
                            ng-model="$ctrl.filter.visitors" >
                        <option value="null" >-все-</option>
                        <option value="1"> меньше 5</option>
                        <option value="2">  5 - 10 </option>
                        <option value="3">  больше 10  </option>
                    </select>
                </div>
                
                <div ng-click="$ctrl.onApplyFilter()" class="btn btn-primary"  
                     style="margin-top: 20px;" >
                    <!--<i class="fa fa-lg fa-spinner fa-spin" ></i>--> 
                    Применить
                </div>
            </div>
            <div class="col-md-10">
                <div ng-repeat="item in $ctrl.list">
                    <div class="panel panel-default panel--card">
                        <div class="panel-heading">
                            <a ui-sref="object.card({ id: item.$id })">{{ item.name }}</a>
                            <!--<div class="trek-img"></div>-->
                        </div>
                        <div class="panel-body">
                            {{ item.description }}
                            <div class="object__description--empty" ng-if="!item.description">
                                Описание не задано
                            </div>
                        </div>
                        <div class="panel-footer">
                            <div class="object__info">
                                посещений <span class="badge">{{ item.visitors }}</span>
                            </div>
                            <div class="object__info">
                                труднодоступность <span class="badge">{{ item.inaccessibility }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
