<div class="page page--objectList">
    <progress-bar text="Загрузка списка объектов ..." ng-if="$ctrl.loadProgress"></progress-bar>
    <div class="container" ng-if="!$ctrl.loadProgress">
        <div class="row">
            <div class="col-md-3">
                <object-list-filter 
                    filter="$ctrl.filter"
                    apply-filter="$ctrl.applyFilter()"
                    clear-filter="$ctrl.clearFilter()"
                />
            </div>
            <div class="col-md-9">
                <div ng-repeat="item in $ctrl.list">
                    <object-list-item object="item"></object-list-item>
                </div>
                <div ng-if="!$ctrl.list.length">
                    <div class="alert alert-info">
                        <strong>Нет данных</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
