<div class="page page--objectCard">
    <div class="container" ng-if="!$ctrl.loadProgress">
        <div class="row">
            <div class="col-md-12">
                <div class="page-header">
                    <h1>{{ $ctrl.object.name }}</h1>
                </div>
                <p>{{ $ctrl.object.description }}</p>
                <p>
                    Труднодоступность: {{ $ctrl.object.inaccessibility }} {{ $ctrl.getInaccessibilityDimension() }}
                    <span class="label label-warning" ng-if="$ctrl.object.visitors < 3">не подтверждено</span>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <a ui-sref="object.check({ id: $ctrl.object.$id })" class="btn btn-primary">Учесть посещение</a>
                <a ui-sref="object.edit({ id: $ctrl.object.$id })" class="btn btn-default">Редактировать</a>
            </div>
        </div>
    </div>
    <progress-bar text="Загрузка объекта..." ng-if="$ctrl.loadProgress"></progress-bar>
</div>
