html,
body {
    height: 100%;
    min-height: 100%;
}

body {
    font-family: sans-serif;
}

.urochishche {
    .form__message--error {
        font-size: 12px;
        margin-top: 8px;
        color: #d9534f;
    }

    .page-header {
        margin-top: 21px;
    }

    .fa-12x {
        font-size: 12em;
    }
}

.label--md {
    font-size: 12px;
}
